@model IEnumerable<GuildfordBsac.Web.Models.TeamMemberViewModel>
<section id="team" class="content-block bg-clouds">
    <div class="container">

        <div class="underlined-title">
            <h1>Committee</h1>
            <hr />
        </div>

        <div class="container">
            <div class="row">
                <div id="team-carousel" class="owl-carousel nf-carousel-theme">
                    @foreach (var teamMember in Model)
                    {
                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="/Content/Images/team/@(teamMember.ImgSrc)" class="img-fluid" alt="@teamMember.Name">
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner">
                                            <h4>@teamMember.Name</h4>
                                            <p>@teamMember.Description</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h4>@teamMember.Name</h4>
                                    <p>@teamMember.Role</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
